html, body, #root {
  min-width: 444px;
  align-items: center;
  justify-content: center;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  scroll-padding-top: 64px;
}

/* h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vh;
}

p {
  font-size: 2vmin;
} */

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper .web-desc1 {
  margin-top: 100px;
}

.content-wrapper .web-desc2 {
  margin-top: 50px;
}

.gradient-text {
  --start-color: #c579b5;
  --end-color: #fe4066;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(139.34deg, var(--start-color) 9.71%, var(--end-color) 90.27%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 0.15em;
  margin: 0 -0.15em;
}

.gradient-text-inv {
  --start-color: #fe4066;
  --end-color: #c579b5;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(139.34deg, var(--start-color) 9.71%, var(--end-color) 90.27%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 0.15em;
  margin: 0 -0.15em;
}

header {
  --gradient-alpha: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(var(--geist-background-rgb), 255) 0, rgba(var(--geist-background-rgb), 0) 100%), linear-gradient(90deg, rgba(var(--gradient-start-color), var(--gradient-alpha)) 0, rgba(var(--gradient-end-color), var(--gradient-alpha)) 100%);

}